@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
.jumbotron-background-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../image/welcoms.png    );
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.my-4 {
    margin-top: 0rem !important; }
.jumbotron-instock-image
{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../image/instock.png    );
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
 }
 .jumbotron-background-image2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../image/checkout.png    );
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
 }
 /*
body{
    background-color: gray;
} */
nav li{
    /* list-style-type: none; */
    display: inline;
    font-family: 'Raleway',sans-serif;
}
p{
    color:whitesmoke;
    font-family: 'Raleway',sans-serif;
}
.container{
    text-align: center;
}

/*.card{
    color:gray;
    position: absolute;
    left:370px;
} */
.card-title{
    text-align:center;
}
.checkposition{
  text-align: center;
}
.car-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
h1{
    color:white;
    font-family: 'Raleway';
}
h5{
    font-family: 'Raleway';
}
h4{
    text-align: center;
    color: white;
    font-family: 'Raleway',sans-serif;
}

#copyright{
    position: fixed;     
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
    width: 100%;
    font-size: 10px;
}
.btn{
    color:white;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../image/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
h3{
    color:black;
}
.container{
    color:white;
}

.maketext-center{
    text-align: center;
}
 /* @media only screen and (min-width:769px){
    .jumbotron-background-image{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../image/moblieindex.jpg    );
        background-size: auto;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}  */